<div class="app">
  <header>
    <div><span>HöR</span><span class="joke">No</span></div>
    <div><span class="material-icons"> dehaze </span></div>
  </header>
  <div class="countdown-timer">
    <ul class="countdown-timer-ul orbitron-font">
      <p class="deadline-label">
        <span>{{ date | date : 'MMM d, y' }}</span>
      </p>
      <div class="countainer-ul">
        <li class="date-item">
          <span class="days">{{ days }}</span
          >D
        </li>
        <li class="date-item">
          <span class="hours">{{ hours }}</span
          >H
        </li>
        <li class="date-item">
          <span class="minutes">{{ minutes }}</span
          >M
        </li>
        <li class="date-item">
          <span class="seconds">{{ seconds }}</span
          >S
        </li>
      </div>
    </ul>
  </div>
</div>
