.app {
  // background: rgb(24, 0, 21);
  width: 100vw;
  height: 100vh;
  
  .joke{
    color: rgb(0, 255, 42);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
  }

   .countdown-timer {
    animation: fadeIn 2s ease-in-out;
    border-radius: 0px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .countdown-timer .countainer-ul {
    display: flex;
    justify-content: space-evenly;
  }
  .countdown-timer-ul {
    border-radius: 25px;
    color: #000;
    transition: opacity 0.7s ease-in-out;
  }
  .countdown-timer-ul .deadline-label {
    color: #fff;
    font-size: 12px;
    margin-bottom: 5px;
    text-align: right;
    text-transform: uppercase;
  }
  .countdown-timer .date-item {
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.2rem;
    width: 80px;
  }
  .countdown-timer ul {
    margin-bottom: 0px;
    padding-top: 14rem
  }
  .countdown-timer ul li span {
    display: block;
    font-size: 3rem;
  }
  li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 0.5em;
    text-transform: uppercase;
  }
  @keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
  }
}

@media (max-width: 600px) {
  .app {
    .countdown-timer {
      font-size: 12px;
          width: 100vw;
      .countdown-timer-ul .deadline-label {
        font-size: 10px;
      }
      .date-item {
        font-size: 1rem;
        line-height: 1.5rem;
        width: 60px;
      }
      ul li span {
        font-size: 2rem;
      }
    }
  }
  
}



